In [1]:
import pandas as pd

In [2]:
catalogue = pd.read_excel("Catalogue Update.xlsx")
forecast = pd.read_excel("Forecast.xlsx")
purchase = pd.read_excel("Item Purchases by Item Detail.xlsx")

In [3]:
forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23258 entries, 0 to 23257
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   #                       23258 non-null  int64
 1   Kategori                23258 non-null  object
 2   SubItemCode             23258 non-null  object
 3   SubItemName             23258 non-null  object
 4   ItemCode                23258 non-null  object
 5   ItemName                23258 non-null  object
 6   ItemStatus              23258 non-null  object
 7   Minimal                 23258 non-null  int64
 8   Maximal                 23258 non-null  int64
 9   InventoryUoM            23244 non-null  object
 10  IsiCtn                  23258 non-null  float64
 11  Volume (CBM)            23258 non-null  float64
 12  ItemCost                23258 non-null  float64
 13  LastPurchasePrice       23258 non-null  float64
 14  Currency                16275 non-null  object
 15  PriceFC                 23258 non-null  float64
 16  HargaJualLusin          23258 non-null  int64
 17  HargaJualKoli           23258 non-null  int64
 18  HargaJualSpecial        23258 non-null  int64
 19  HargaJualUnlock         23258 non-null  int64
 20  CountSO                 16813 non-null  float64
 21  Document SO Diproses    16716 non-null  float64
 22  SumSO                   23258 non-null  float64
 23  Quantity SO Diproses    23258 non-null  float64
 24  Tanggal Last SO         16813 non-null  object
 25  VendorCode              16275 non-null  object
 26  VendorName              16275 non-null  object
 27  Tanggal Last GRPO       14649 non-null  object
 28  Tanggal Due Date GRPO   14649 non-null  object
 29  QtyLastGR               23258 non-null  float64
 30  CountDocGR              14649 non-null  float64
 31  InStock                 23258 non-null  float64
 32  Total instock Value     23258 non-null  float64
 33  OnOrder                 23258 non-null  float64
 34  Total On Order Value    23258 non-null  float64
 35  IsCommited              23258 non-null  float64
 36  Total IsCommited Value  23258 non-null  float64
 37  PR                      23258 non-null  int64
 38  PR Value                23258 non-null  float64
 39  qtyAR                   23258 non-null  float64
 40  AR Value                23258 non-null  float64
 41  FORECAST                23258 non-null  float64
 42  FORECAST Value          23258 non-null  float64
 43  Directory               0 non-null      float64
dtypes: float64(23), int64(8), object(13)
memory usage: 7.8+ MB

In [4]:
list = forecast[forecast['ItemStatus'] == 'Active']
list.rename(columns={'ItemCode': 'Item No.'}, inplace=True)
list = pd.merge(list, catalogue[['Item No.', 'Gudang', 'Asemka', 'Tengsek']], on='Item No.', how='left')
list = list[['Kategori', 'SubItemName','VendorName', 'Item No.', 'ItemName', 'Gudang', 'Asemka', 'Tengsek', 'OnOrder','IsiCtn', 'InventoryUoM','LastPurchasePrice','PriceFC' ,'HargaJualLusin', 'HargaJualKoli', 'HargaJualSpecial', 'Tanggal Last SO', 'Tanggal Last GRPO', 'Tanggal Due Date GRPO', 'QtyLastGR']]

C:\Users\SJK2525\AppData\Local\Temp\ipykernel_1776\1904040079.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list.rename(columns={'ItemCode': 'Item No.'}, inplace=True)

In [19]:
list.sample()

,Kategori,SubItemName,VendorName,Item No.,ItemName,Gudang,Asemka,Tengsek,OnOrder,IsiCtn,InventoryUoM,LastPurchasePrice,PriceFC,HargaJualLusin,HargaJualKoli,HargaJualSpecial,Tanggal Last SO,Tanggal Last GRPO,Tanggal Due Date GRPO,QtyLastGR
9324,ALAT MAKE UP,KUKU PALSU DEWASA,2002,KKP-3362D4,KUKU PALSU DWS MTF FRENCH BOX PUTIH,0.0,18.0,1.0,0.0,60.0,LSN,25771.72,10.2,35000,34000,33000,08.07.24,25.05.24,04.06.24,360.0

In [20]:
listgudang = list[list['Gudang'] >=20]

In [25]:
listtoko = list[(list['Asemka'] + list['Tengsek']) >=20]

In [38]:
listtoko.sample()

,Kategori,SubItemName,VendorName,Item No.,ItemName,Gudang,Asemka,Tengsek,OnOrder,IsiCtn,InventoryUoM,LastPurchasePrice,PriceFC,HargaJualLusin,HargaJualKoli,HargaJualSpecial,Tanggal Last SO,Tanggal Last GRPO,Tanggal Due Date GRPO,QtyLastGR
15467,TAS & DOMPET,TAS PAPERBAG,2区-1楼-10311,TPB-4224B2,"PAPERBAG BIRTHDAY UK 24X19,5X9,5 CM",180.0,52.0,60.0,0.0,60.0,LSN,31178.35,12.36,45000,44000,43000,05.11.24,15.10.24,21.10.24,360.0

In [39]:
purchase.sample()

,#,Document Status,Canceled,Document Internal ID,Document Number,Posting Date,Due Date,Tanggal Loading,Container No.,Item No.,Quantity,Unit,Sub Item,Kategori
19340,19341,C,N,756,240000133,17.05.24,21.05.24,24.04.24,FFAU1176764,SSR-2303H1,240.0,PAK,SISIR,ALAT MAKE UP